.hr{
    border: 2px solid white ;
    background-color: white;
    opacity: 1 !important;
    width: 230px !important;
  }
  
  .star > i{
    bottom: -97% !important;
    position: absolute !important;
  }