:root{
  --main-color: #1ABC9C;
  --mid-color:#2C3E50
  --second-color: #2C3E50;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-color) ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.transition{
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.bg-dark{
  background-color: var(--mid-color);
}
.bg-second{
  background-color: var(--second-color);
}
.bg-main{
  background-color: var(--main-color) !important;
}

.text-mid{
  color: var(--mid-color) !important;
}

.form-control:focus {
      box-shadow: none !important;
}
.color-main{
  color:var(--mid-color)
}
/* .layout{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */