@media screen and (min-width: 992px) {
    .text{
        width:50% !important
    }
}

@media screen and (min-width: 768px) {
    .text{
        width:70% 
    }
}

.textMain{
    color: var(--main-color);
    top: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    padding-left: 5px;
}
.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
}
.border-0 {
    border: 0!important;
}